/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
h1{
	text-align:center;
}

.rectangle{
	width:100%;
	border:3px solid black;	
	border-radius:5px;
}

a{
	text-decoration:none;
}
li{
	list-style:none;
}

ul{
	margin:0;
	padding:0;
	padding:20px
}
h2{
	text-align:center;
}
.rectangle2{
	width:80%
	justify-contect:center;
}
